.htCore {
    font-family: 'LINE Seed Sans TH', sans-serif;
}

.htCore td {
    border-radius: 0 !important;
    box-shadow: none !important;
}

.handsontable th {
    font-weight: 700 !important;
}


.handsontableInputHolder .handsontableInput {
    font-family: 'LINE Seed Sans TH', sans-serif !important;
}

.handsontableInput {
    text-align: center !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
}

.handsontable .htDimmed {
    background-color: var(--ht-cell-editor-border-color);
    color: black;
}

.ht-theme-main {
    --ht-font-size: 14px;
    --ht-line-height: 20px;
    --ht-font-weight: 400;
    --ht-letter-spacing: 0px;
    --ht-gap-size: 8px;
    --ht-icon-size: 17px;
    --ht-table-transition: 0.15s;
    --ht-border-color: #ccc;
    --ht-accent-color: #5292f7;
    --ht-foreground-color: #373737;
    --ht-foreground-secondary-color: #777;
    --ht-background-color: #fff;
    --ht-placeholder-color: #999;
    --ht-read-only-color: #777;
    --ht-disabled-color: #999;
    --ht-shadow-color: #ccc;
    --ht-shadow-x: 1px;
    --ht-shadow-y: 1px;
    --ht-shadow-blur: 0;
    --ht-cell-horizontal-border-color: #ccc;
    --ht-cell-vertical-border-color: #ccc;
    --ht-wrapper-border-width: 0;
    --ht-wrapper-border-radius: 0;
    --ht-wrapper-border-color: #ccc;
    --ht-row-header-odd-background-color: #f0f0f0;
    --ht-row-header-even-background-color: #f0f0f0;
    --ht-row-cell-odd-background-color: hsla(0, 0%, 100%, 0);
    --ht-row-cell-even-background-color: hsla(0, 0%, 100%, 0);
    --ht-cell-horizontal-padding: 6px;
    --ht-cell-vertical-padding: 6px;
    --ht-cell-editor-border-width: 2px;
    --ht-cell-editor-border-color: #5292f7;
    --ht-cell-editor-foreground-color: #0f0f10;
    --ht-cell-editor-background-color: #fff;
    --ht-cell-editor-shadow-blur-radius: 0;
    --ht-cell-editor-shadow-color: #5292f7;
    --ht-cell-success-background-color: rgba(55, 188, 108, .2);
    --ht-cell-error-background-color: rgba(250, 77, 50, .2);
    /* --ht-cell-read-only-background-color: hsla(203, 54%, 54%, 0.066); */
    --ht-cell-selection-border-color: #5292f7;
    --ht-cell-selection-background-color: #8eb0e7;
    --ht-cell-autofill-size: 6px;
    --ht-cell-autofill-border-width: 1px;
    --ht-cell-autofill-border-radius: 0;
    --ht-cell-autofill-border-color: #fff;
    --ht-cell-autofill-background-color: #5292f7;
    --ht-cell-autofill-fill-border-color: #373737;
    --ht-cell-mobile-handle-size: 12px;
    --ht-cell-mobile-handle-border-width: 1px;
    --ht-cell-mobile-handle-border-radius: 6px;
    --ht-cell-mobile-handle-border-color: #5292f7;
    --ht-cell-mobile-handle-background-color: rgba(82, 146, 247, .4);
    --ht-resize-indicator-color: #999;
    --ht-move-backlight-color: rgba(55, 55, 55, .25);
    --ht-move-indicator-color: #999;
    --ht-hidden-indicator-color: #999;
    --ht-scrollbar-border-radius: 8px;
    --ht-scrollbar-track-color: #f0f0f0;
    --ht-scrollbar-thumb-color: rgba(55, 55, 55, .4);
    --ht-header-font-weight: 400;
    --ht-header-foreground-color: #373737;
    --ht-header-background-color: #f0f0f0;
    --ht-header-highlighted-shadow-size: 0;
    --ht-header-highlighted-foreground-color: #373737;
    --ht-header-highlighted-background-color: #dcdcdc;
    --ht-header-active-border-color: #ccc;
    --ht-header-active-foreground-color: #0f0f10;
    --ht-header-active-background-color: #8eb0e7;
    --ht-header-filter-background-color: rgba(55, 188, 108, .2);
    --ht-header-row-foreground-color: #373737;
    --ht-header-row-background-color: #f0f0f0;
    --ht-header-row-highlighted-foreground-color: #373737;
    --ht-header-row-highlighted-background-color: #dcdcdc;
    --ht-header-row-active-foreground-color: #0f0f10;
    --ht-header-row-active-background-color: #8eb0e7;
    --ht-checkbox-size: 12px;
    --ht-checkbox-border-radius: 2px;
    --ht-checkbox-border-color: #999;
    --ht-checkbox-background-color: #fff;
    --ht-checkbox-icon-color: hsla(0, 0%, 100%, 0);
    --ht-checkbox-focus-border-color: #999;
    --ht-checkbox-focus-background-color: #fff;
    --ht-checkbox-focus-icon-color: hsla(0, 0%, 100%, 0);
    --ht-checkbox-focus-ring-color: #5292f7;
    --ht-checkbox-disabled-border-color: #999;
    --ht-checkbox-disabled-background-color: #c6c6c6;
    --ht-checkbox-disabled-icon-color: hsla(0, 0%, 100%, 0);
    --ht-checkbox-checked-border-color: #3e7ee1;
    --ht-checkbox-checked-background-color: #5292f7;
    --ht-checkbox-checked-icon-color: #fff;
    --ht-checkbox-checked-focus-border-color: #fff;
    --ht-checkbox-checked-focus-background-color: #5292f7;
    --ht-checkbox-checked-focus-icon-color: #fff;
    --ht-checkbox-checked-disabled-border-color: #999;
    --ht-checkbox-checked-disabled-background-color: #c6c6c6;
    --ht-checkbox-checked-disabled-icon-color: #999;
    --ht-checkbox-indeterminate-border-color: #3e7ee1;
    --ht-checkbox-indeterminate-background-color: #5292f7;
    --ht-checkbox-indeterminate-icon-color: #fff;
    --ht-checkbox-indeterminate-focus-border-color: #fff;
    --ht-checkbox-indeterminate-focus-background-color: #5292f7;
    --ht-checkbox-indeterminate-focus-icon-color: #fff;
    --ht-checkbox-indeterminate-disabled-border-color: #999;
    --ht-checkbox-indeterminate-disabled-background-color: #c6c6c6;
    --ht-checkbox-indeterminate-disabled-icon-color: #999;
    --ht-radio-size: 12px;
    --ht-radio-border-color: #999;
    --ht-radio-background-color: #fff;
    --ht-radio-icon-color: hsla(0, 0%, 100%, 0);
    --ht-radio-focus-border-color: #999;
    --ht-radio-focus-background-color: #fff;
    --ht-radio-focus-icon-color: hsla(0, 0%, 100%, 0);
    --ht-radio-focus-ring-color: #5292f7;
    --ht-radio-disabled-border-color: #999;
    --ht-radio-disabled-background-color: #c6c6c6;
    --ht-radio-disabled-icon-color: hsla(0, 0%, 100%, 0);
    --ht-radio-checked-border-color: #5292f7;
    --ht-radio-checked-background-color: #fff;
    --ht-radio-checked-icon-color: #5292f7;
    --ht-radio-checked-focus-border-color: #3e7ee1;
    --ht-radio-checked-focus-background-color: #fff;
    --ht-radio-checked-focus-icon-color: #5292f7;
    --ht-radio-checked-disabled-border-color: #999;
    --ht-radio-checked-disabled-background-color: #c6c6c6;
    --ht-radio-checked-disabled-icon-color: #999;
    --ht-icon-button-border-radius: 2px;
    --ht-icon-button-large-border-radius: 2px;
    --ht-icon-button-large-padding: 2px;
    --ht-icon-button-border-color: #c6c6c6;
    --ht-icon-button-background-color: #f0f0f0;
    --ht-icon-button-icon-color: #999;
    --ht-icon-button-hover-border-color: #777;
    --ht-icon-button-hover-background-color: #f0f0f0;
    --ht-icon-button-hover-icon-color: #777;
    --ht-icon-button-active-border-color: #c6c6c6;
    --ht-icon-button-active-background-color: #f0f0f0;
    --ht-icon-button-active-icon-color: #999;
    --ht-icon-button-active-hover-border-color: #777;
    --ht-icon-button-active-hover-background-color: #f0f0f0;
    --ht-icon-button-active-hover-icon-color: #777;
    --ht-collapse-button-border-radius: 16px;
    --ht-collapse-button-open-border-color: #c6c6c6;
    --ht-collapse-button-open-background-color: #fff;
    --ht-collapse-button-open-icon-color: #999;
    --ht-collapse-button-open-icon-active-color: #999;
    --ht-collapse-button-open-hover-border-color: #c6c6c6;
    --ht-collapse-button-open-hover-background-color: #fff;
    --ht-collapse-button-open-hover-icon-color: #999;
    --ht-collapse-button-open-hover-icon-active-color: #999;
    --ht-collapse-button-close-border-color: #c6c6c6;
    --ht-collapse-button-close-background-color: #f0f0f0;
    --ht-collapse-button-close-icon-color: #999;
    --ht-collapse-button-close-icon-active-color: #999;
    --ht-collapse-button-close-hover-border-color: #c6c6c6;
    --ht-collapse-button-close-hover-background-color: #f0f0f0;
    --ht-collapse-button-close-hover-icon-color: #999;
    --ht-collapse-button-close-hover-icon-active-color: #999;
    --ht-button-border-radius: 2px;
    --ht-button-horizontal-padding: 8px;
    --ht-button-vertical-padding: 2px;
    --ht-primary-button-border-color: hsla(0, 0%, 100%, 0);
    --ht-primary-button-foreground-color: #fff;
    --ht-primary-button-background-color: #5292f7;
    --ht-primary-button-disabled-border-color: hsla(0, 0%, 100%, 0);
    --ht-primary-button-disabled-foreground-color: #999;
    --ht-primary-button-disabled-background-color: #dcdcdc;
    --ht-primary-button-hover-border-color: hsla(0, 0%, 100%, 0);
    --ht-primary-button-hover-foreground-color: #fff;
    --ht-primary-button-hover-background-color: #3e7ee3;
    --ht-primary-button-focus-border-color: #fff;
    --ht-primary-button-focus-foreground-color: #fff;
    --ht-primary-button-focus-background-color: #5292f7;
    --ht-secondary-button-border-color: hsla(0, 0%, 100%, 0);
    --ht-secondary-button-foreground-color: #373737;
    --ht-secondary-button-background-color: #fff;
    --ht-secondary-button-disabled-border-color: hsla(0, 0%, 100%, 0);
    --ht-secondary-button-disabled-foreground-color: #999;
    --ht-secondary-button-disabled-background-color: #dcdcdc;
    --ht-secondary-button-hover-border-color: hsla(0, 0%, 100%, 0);
    --ht-secondary-button-hover-foreground-color: #373737;
    --ht-secondary-button-hover-background-color: #f0f0f0;
    --ht-secondary-button-focus-border-color: hsla(0, 0%, 100%, 0);
    --ht-secondary-button-focus-foreground-color: #373737;
    --ht-secondary-button-focus-background-color: #fff;
    --ht-comments-textarea-horizontal-padding: 8px;
    --ht-comments-textarea-vertical-padding: 2px;
    --ht-comments-textarea-border-width: 1px;
    --ht-comments-textarea-border-color: #ccc;
    --ht-comments-textarea-foreground-color: #373737;
    --ht-comments-textarea-background-color: #fff;
    --ht-comments-textarea-focus-border-width: 1px;
    --ht-comments-textarea-focus-border-color: #5292f7;
    --ht-comments-textarea-focus-foreground-color: #373737;
    --ht-comments-textarea-focus-background-color: #fff;
    --ht-comments-indicator-size: 6px;
    --ht-comments-indicator-color: #373737;
    --ht-license-horizontal-padding: 8px;
    --ht-license-vertical-padding: 4px;
    --ht-license-foreground-color: #373737;
    --ht-license-background-color: #f0f0f0;
    --ht-link-color: #3e7ee3;
    --ht-link-hover-color: #3e7ee3;
    --ht-input-border-width: 1px;
    --ht-input-border-radius: 2px;
    --ht-input-horizontal-padding: 8px;
    --ht-input-vertical-padding: 2px;
    --ht-input-border-color: #ccc;
    --ht-input-foreground-color: #373737;
    --ht-input-background-color: #f0f0f0;
    --ht-input-hover-border-color: #ccc;
    --ht-input-hover-foreground-color: #373737;
    --ht-input-hover-background-color: #f0f0f0;
    --ht-input-disabled-border-color: #ccc;
    --ht-input-disabled-foreground-color: #999;
    --ht-input-disabled-background-color: #c6c6c6;
    --ht-input-focus-border-color: #5292f7;
    --ht-input-focus-foreground-color: #373737;
    --ht-input-focus-background-color: #f0f0f0;
    --ht-menu-border-width: 1px;
    --ht-menu-border-radius: 0;
    --ht-menu-horizontal-padding: 0;
    --ht-menu-vertical-padding: 2px;
    --ht-menu-item-horizontal-padding: 8px;
    --ht-menu-item-vertical-padding: 2px;
    --ht-menu-border-color: #ccc;
    --ht-menu-shadow-x: 1px;
    --ht-menu-shadow-y: 1px;
    --ht-menu-shadow-blur: 0;
    --ht-menu-shadow-color: #ccc;
    --ht-menu-item-hover-color: rgba(55, 55, 55, .04);
    --ht-menu-item-active-color: rgba(55, 55, 55, .08);
    --ht-dialog-semi-transparent-background-color: hsla(0, 0%, 100%, .8);
    --ht-dialog-solid-background-color: #fff;
    --ht-dialog-content-padding-horizontal: 8px;
    --ht-dialog-content-padding-vertical: 8px;
    --ht-dialog-content-border-radius: 8px;
    --ht-dialog-content-background-color: #f0f0f0;
    --ht-pagination-bar-foreground-color: #373737;
    --ht-pagination-bar-background-color: #f0f0f0;
    --ht-pagination-bar-horizontal-padding: 8px;
    --ht-pagination-bar-vertical-padding: 4px
}